extends ./layout/index

block slider
  .slider 
    |
    |
    h1 Rio de Janeiro
    em aventura

block content
  main.container.mt-5
    h2.text-center.mb-5 About Us
    .row.mb-5 
      |
      |
      .col-md-6 
        |
        |
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque dolore fugit voluptatem. Dolorum cum neque corrupti, ad repellat qui molestias sapiente inventore rerum fuga nulla dolorem culpa molestiae. Doloremque, magnam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea voluptatibus est ratione nisi, voluptatum consequatur repellendus, molestiae laborum quia sequi nihil neque.
      .col-md-6 
        |
        |
        img.img-fluid(src="/img/inicio_nosotros.jpg", alt="image about us")
    include ./layout/travels_block
  .discount
    .container 
      .row 
        .col-md-6 
          .content 
            h3 5% Discount
            p.title Travel to Canada 
            p.date 20 de Mayo de 2023 - 28 de Mayo de 2023
            p.price $2,500 USD
  .container 
    h2.mt-5.text-center Testimonials
      include ./layout/testimonials_block

  script(src="/reload/reload.js") 
